.center.jumbotron {
    background:url(https://ramenhiroba.s3-ap-northeast-1.amazonaws.com/jumbotron-opacity.png) no-repeat top center;
    background-size:cover
}

#map {
      height: 400px;
      width: 100%;
}
    
.media {
    background: #fff3cd;
    border-radius: 10px;
    font-size: 100%; padding: 20px;
}

.reviews {
    cursor: pointer;
}

.users {
    cursor: pointer;
}
.click.block {
    display: inline;
}

.ramen.text {
    background: #fff3cd;
    border-radius: 10px;
    font-size: 100%; padding: 20px;
}