.center.jumbotron {
    background:url(https://ramenhiroba.s3-ap-northeast-1.amazonaws.com/jumbotron-opacity.png) no-repeat top center;
    background-size:cover
}

#map {
      height: 500px;
      width: 100%;
}
    
.media {
    background: #fff3cd;
    border-radius: 10px;
    font-size: 100%; padding: 20px;
    float: left;
}

.media.column {
    transform:scale(0.95);
}

.reviews li :not(.content) {
    cursor: pointer;
}

.users {
    cursor: pointer;
}
.click.block {
    display: inline;
}

.ramen.text {
    background: #fff3cd;
    border-radius: 10px;
    font-size: 100%; padding: 20px;
}

.ramen img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.ramen img:hover {
    opacity: 0.9;
}